main {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  gap: 20px;

  margin-bottom: 15px;
  width: 1000px;
}

#gold-price-main {
  height: 200px;
  width: 100%;
}

#gold-price-main-section {
  grid-column-start: 2;
  grid-column-end: 4;
}

#silver-price-main {
  height: 200px;
  width: 100%;
}

#silver-price-main-section {
  grid-column-start: 4;
  grid-column-end: 6;
}

#invest-benefits {
  grid-column-start: 2;
  grid-column-end: 6;
}

#invest-reasons {
  grid-column-start: 2;
  grid-column-end: 6;
}

#why-invest-section {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px;
}

#main-section {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  text-align: center;
  align-items: center;
}

.card {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(50px);
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.scrollable-section {
  max-height: 150px; /* Ограничиваем высоту */
  overflow-y: scroll; /* Вертикальная прокрутка */
  overflow-x: hidden; /* Обрезка по горизонтали */
  border: 1px solid #ccc; /* Рамка для визуализации */
  padding: 10px;
  box-sizing: border-box;
}

.scrollable-section::-webkit-scrollbar {
  background: linear-gradient(135deg, #eda3e1, #ffffff); /* Цветовой градиент */

  width: 8px; /* Ширина полосы прокрутки */
}

.scrollable-section::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет полосы прокрутки */
  border-radius: 4px;
}

.scrollable-section::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет при наведении */
}

#invest-benefits {
  background: linear-gradient(135deg, #ffcc00, #ff6600); /* Цветовой градиент */
  color: #fff; /* Белый текст для контраста */
  padding: 20px; /* Внутренние отступы */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
}
#invest-benefits:hover {
  background: linear-gradient(
    135deg,
    #ff6600,
    #ffcc00
  ); /* Инверсия градиента */
  transform: scale(1.02); /* Легкое увеличение */
  transition: background 0.3s, transform 0.3s; /* Плавный переход */
}

#invest-reasons {
  background: linear-gradient(135deg, #ffcc00, #ff6600); /* Цветовой градиент */
  color: #fff; /* Белый текст для контраста */
  padding: 20px; /* Внутренние отступы */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
}
#invest-reasons:hover {
  background: linear-gradient(
    135deg,
    #ff6600,
    #ffcc00
  ); /* Инверсия градиента */
  transform: scale(1.02); /* Легкое увеличение */
  transition: background 0.3s, transform 0.3s; /* Плавный переход */
}
