header {
  /* background: linear-gradient(
    to bottom,
    rgba(255, 224, 100, 0.8),
    rgba(255, 215, 70, 0.8)
  ); */
  backdrop-filter: blur(20px);
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: stretch;
}

.actual-price {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: stretch;
}

.actual-price div {
  width: 100%;
  height: 100%;
}

.chart {
  grid-column-start: 1;
  grid-column-end: 4;
}

.chart canvas {
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.table {
  grid-column-start: 1;
  grid-column-end: 4;
}

.table table {
  width: 100%;
  border-collapse: collapse;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);

  border: 0;
}
